<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="apple-touch-icon-precomposed" sizes="57x57" href='{{ "apple-touch-icon-57x57.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href='{{ "apple-touch-icon-114x114.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href='{{ "apple-touch-icon-72x72.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href='{{ "apple-touch-icon-144x144.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href='{{ "apple-touch-icon-60x60.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href='{{ "apple-touch-icon-120x120.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href='{{ "apple-touch-icon-76x76.png" | absURL }}' />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href='{{ "apple-touch-icon-152x152.png" | absURL }}' />
    <link rel="icon" type="image/png" href='{{ "favicon-196x196.png" | absURL }}' sizes="196x196" />
    <link rel="icon" type="image/png" href='{{ "favicon-96x96.png" | absURL }}' sizes="96x96" />
    <link rel="icon" type="image/png" href='{{ "favicon-32x32.png" | absURL }}' sizes="32x32" />
    <link rel="icon" type="image/png" href='{{ "favicon-16x16.png" | absURL }}' sizes="16x16" />
    <link rel="icon" type="image/png" href='{{ "favicon-128.png" | absURL }}' sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />






    <meta name="theme-color" content="#ffffff">

    <link href='{{ "css/socicon.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
    <link href='{{ "css/bootstrap.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
    <link href='{{ "css/stack-interface.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
    <link href='{{ "css/theme.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
    <link href='{{ "css/custom.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ .Site.GoogleAnalytics }}');
    </script>
</head>