<div class="nav-container">
    <div class="">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="{{ .Site.BaseURL }}"> <img class="logo logo-dark" alt="logo" src='{{ "img/codebiner_banner.png" | absURL }}'>
                            <img class="logo logo-light" alt="logo" src='{{ "img/codebiner_banner.png" | absURL }}'>
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="{{ .Site.BaseURL }}"> <img class="logo logo-dark" alt="logo" src='{{ "img/codebiner_banner.png" | absURL }}'>
                                <img class="logo logo-light" alt="logo" src='{{ "img/codebiner_banner.png" | absURL }}'>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="#coming-soon"> <span class="btn__text">Docs</span> </a>

                            {{ if isset .Page.Params "purchase" }}
                            <a class="btn btn--sm btn--primary type--uppercase" href="#purchase"> <span class="btn__text">
                                    Buy Now
                                </span> </a>
                            {{ end }}

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>